<header>
<a href="/private">
    <h1>FILM FORAY</h1>
</a>
</header>

<main>


    <div class="item">
      <a>
				<h1 class="heading">{{allData.movieTitle}}</h1>
      </a>
		
		<a>
			
			INFO:
			
			<p>Year Released: {{allData.releaseYear}}</p>
			<p>Genre: {{allData.genre}}</p>
			<p>IMDB Rating: {{allData.rating}}</p>
			<p>Movie Description: {{allData.description}}</p>
			<p>Actors: {{allData.actors}}</p>
			<p>Directors: {{allData.directors}}</p>
			<p>Where To Watch: {{allData.whereToWatch}}</p>
			
			<p>Status:</p>
			<p>User Rating:</p>
			
		</a>
		
		<br>
		
		<div class="comment_section">
		<a>
			COMMENTS:
			
			<br>
			
			<div class="boxed_comment">
				<a class="username_comment">
					Username
				</a>
				<hr class="hr_comment">
				<div class="post_comment">
					This is a Sample Comment
				</div>
			</div>
			
			<br>
			
			<div class="boxed_comment">
				<a class="username_comment">
					Username
				</a>
				<hr class="hr_comment">
				<div class="post_comment">
					And this is how it looks if there is a bunch of text
					Much more text than normally it should be able to handle
					just to see if it can handle several lines without breaking anything
					so these lines should go over to next line as if it is in a box
				</div>
			</div>
		</a>
		
		<br>
		
		<form method="POST" action="/movie">
        <p id="error" class="error">{{error}}</p>
        <textarea class="post_comment" type="text" id="comment_post" name="comment_post" placeholder="Enter Comment Here..." required></textarea>
        <button class="submit-button_comment" type="submit">POST</button>
    </form>
		
    </div>
		</div>
</main>