<header>
<a href="/private">
    <h1>FILM FORAY</h1>
</a>
</header>

<main>

    <div class="item">
      <a>
				<h1 class="heading">{{allData.movieTitle}}</h1>
      </a>
		
		<a>
			
			<div class="row">
				<div class="column">
					<div class="movie_info">
					INFO:
					<p>Year Released: {{allData.releaseYear}}</p>
					<p>Genre:</p>
					<p>- {{allData.genre}}</p>
					<p>- {{allData.genre}}</p>
					<p>- {{allData.genre}}</p>
					<p>Where To Watch:</p>
					<p>- {{allData.whereToWatch}}</p>
					<p>- {{allData.whereToWatch}}</p>
					<p>- {{allData.whereToWatch}}</p>
					
					<p>Status: Watched</p>
					</div>
				</div>
				<div class="column">
					--
					<div class="movie_info">
					<p>IMDB Rating: {{allData.rating}}</p>
					<p>Actors:</p>
					<p>- {{allData.actors}}</p>
					<p>- {{allData.actors}}</p>
					<p>- {{allData.actors}}</p>
					<p>Directors:</p>
					<p>- {{allData.directors}}</p>
					<p>- {{allData.directors}}</p>
					<p>- {{allData.directors}}</p>
				
					<p>User Rating: Liked</p>
					</div>
				</div>
			</div>
			
			<p class="movie_info_des">
				Movie Description: {{allData.description}} 
				And lets add a bit more than normal
				This is if the description of the movie was 
				longer than this width and how well it will work 
				if the description is very long
			</p>
			
		</a>
		
		<br>
		
		<div class="comment_section">
		<a>
			COMMENTS:
			
			<li id="comments_list">
			
			{{#each comments}}
				{{{comment}}}
			{{/each}}
			
			</li>
			
		</a>
		
		<form method="POST" action="/movie/{{allData._id}}/newcomment">
        <p id="error" class="error">{{error}}</p>
				<label for="comment_post">
					<textarea class="post_comment" type="text" id="comment_post" name="comment_post" placeholder="Enter Comment Here..." required></textarea>
        </label>
				<button class="submit-button_comment" type="submit">POST</button>
    </form>
		
    </div>
		</div>
</main>