<!DOCTYPE html>
<html lang="en">

<header>
	<a href="/private">
		<h1>FILM FORAY</h1>
	</a>
</header>

<script>
	function show(shown, hidden) {
		document.getElementById(shown).style.display = 'block';
		document.getElementById(hidden).style.display = 'none';
		return false;
	}
</script>

<main>
	<h1 class="movie_title">{{allData.movieTitle}}</h1>

	<div class="item">


		<div class="row">

			<p class="user_status_l">Your Status:</p>
			<p class="user_status_d">{{reactions.status}}</p>
			<button class="user_status_b">EDIT</button>

			<p class="user_rating_l">Your Rating:</p>
			<p class="user_rating_d">{{reactions.rating}}</p>
			<button class="user_rating_b">EDIT</button>

			<p class="movie_info_des">
				Movie Description: {{allData.description}}
			</p>

			<a>
				<div class="column">
					<div class="movie_info">
						INFO:
						<dl>
						<dt>Year Released:</dt>
						<dd>{{allData.releaseYear}}</dd>
						<dt>Genre:</dt>
						<dd>
							{{#each allData.genre}}
							<li>{{{this}}} </li> {{/each}}
						</dd>
						<dt>IMDB Rating:</dt>
						<dd>{{allData.rating}}</dd>
						<dt>Actors</dt>
						<dd>
							{{#each allData.actors}}
							<li>{{{this}}} </li> {{/each}}
						</dd>
						<dt>Directors</dt>
						<dd>
							{{#each allData.directors}}
							<li>{{{this}}} </li> {{/each}}
						</dd>
						<dt>Where To Watch:</dt>
						<dd>
							{{#each allData.whereToWatch}}
							<li>{{{this}}} </li> {{/each}}
						</dd>
						</dl>
					</div>
				</div>
			</a>

			<a>
				<div class="column">
					<div class="comment_section">
						COMMENTS:
						<li id="comments_list">
							<br>
							{{#each comments}}
							{{{comment}}}
							{{/each}}

						</li>

						<form method="POST" action="/movie/{{allData._id}}/newcomment">
							<p id="error" class="error">{{error}}</p>
							<label for="comment_post">
								<textarea class="post_comment" type="text" id="comment_post" name="comment_post"
									placeholder="Enter Comment Here..." required></textarea>
							</label>
							<button class="submit-button_comment" type="submit">POST</button>
						</form>
					</div>
				</div>
			</a>

		</div>
	</div>

	<script>
		$(function () {
			$('.user_status_b').click(function (e) {
				var dialog = $('<div class="popup"></div>').dialog(
					{
						dialogClass: "popup",
						modal: true,
						resizable: false,
						title: "Choose your Movie Status",
						width: "450px",
						closeOnEscape: false,
						open: function (event, ui) {
							$(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
						},
						buttons:
						{
							"Watched": function () {
								var form = document.createElement("form");
								var ele1 = document.createElement("input");
								form.method = "POST";
								form.action = "/movie/{{allData._id}}/status";
								ele1.value = "Watched";
								ele1.name = "sentResponse";
								form.appendChild(ele1);
								document.body.appendChild(form);
								form.submit();
							},
							"Not Watched": function () {
								var form = document.createElement("form");
								var ele1 = document.createElement("input");
								form.method = "POST";
								form.action = "/movie/{{allData._id}}/status";
								ele1.value = "Not Watched";
								ele1.name = "sentResponse";
								form.appendChild(ele1);
								document.body.appendChild(form);
								form.submit();
							},
							"Cancel": function () {
								dialog.dialog('close');
							}
						}
					});
			});
			$('.user_rating_b').click(function (e) {
				e.preventDefault();
				var dialog = $('<div class="popup"></div>').dialog(
					{
						dialogClass: "popup",
						modal: true,
						resizable: false,
						title: "Choose your Movie Rating",
						width: "450px",
						closeOnEscape: false,
						open: function (event, ui) {
							$(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
						},
						buttons: {
							"Like": function () {
								var form = document.createElement("form");
								var ele1 = document.createElement("input");
								form.method = "POST";
								form.action = "/movie/{{allData._id}}/rating";
								ele1.value = "Like";
								ele1.name = "sentResponse";
								form.appendChild(ele1);
								document.body.appendChild(form);
								form.submit();
							},
							"Dislike": function () {
								var form = document.createElement("form");
								var ele1 = document.createElement("input");
								form.method = "POST";
								form.action = "/movie/{{allData._id}}/rating";
								ele1.value = "Dislike";
								ele1.name = "sentResponse";
								form.appendChild(ele1);
								document.body.appendChild(form);
								form.submit();
							},
							"Cancel": function () {
								dialog.dialog('close');
							}
						}
					});
			});
		});
	</script>

</main>