<header>
    <a href="/private">
        <h1>FILM FORAY</h1>
    </a>
</header>
<main>
    <div class="signup-container">
        <label class="login-label">My Account</label>
        <br />
        <br />
        <label class="label">First Name</label>
        <div class="myacc-text">
            {{allData.userName}}
        </div>
        <label class="label">Last Name</label>
        <div class="myacc-text">
            {{allData.userName}}
        </div>
        <label class="label">Email</label>
        <div class="myacc-text">
            {{allData.userName}}
        </div>
        <label class="label">Username</label>
        <div class="myacc-text">
            {{allData.userName}}
        </div>
        <label class="label">Password</label>
        <div class="myacc-text">
            {{allData.userName}}
        </div>
    </div>
    <a href="/logout"  >
        <button style="padding: 10px; margin-top:10px;" type="submit">Logout</button>
    </a>
</main>